.offline{
  padding-top: 150px;
      width: 15%;
      margin: 0 auto;
      font-family: 'Luckiest Guy', cursive;
      font-size: 48px;
}
body {
  background-color: #f9f03b;
}
input[type=text]{
  border: 2px solid black;
  background-color:#f9f03b;
  width: 550px;
  height: 40px;
  font-size: 28px;
}
input[type=text]:focus{
  border: 2px solid black;
}
.navbar li
{
  display: inline;
  padding: 7px;
}
